<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Product Card Ui Design Using HTML CSS

    // ===== CSS =====
    link(rel="stylesheet", href="assets/css/index.css")

  body
    .container
      .card
        img(src="assets/img/img.png", alt="").card__img
        .card__data
          h1.card__title Nike Air Jordan
          span.card__price $99
          p.card__txt Nike Air Jordan Footwear basketball sneakers.
          a(href="#").card__button Buy Now
